@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

*{
    font-family:'Edu TAS Beginner', cursive;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    text-decoration: none;
}
#menu li{
    display: inline;
    margin-right: 20px;
}
.active{
    font-size: 35px;
    font-weight: bold;
}
.name h1{
    font-size: 100px;    
}
.name{
    width: 100vw;
    height: 500px;
    background-image: url(../images/backorange.png);
    background-repeat: repeat-x;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.quote{
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: rgb(174, 93, 11);  
}
.photo{
    width: 100%;
    height: 500px;
    background: linear-gradient(40deg, #f7c437, #f88e02ec); 
       
}
img {
    border-radius: 20px;
}

.about_me{
    width: 100vw;
    height: 400px;
    background: linear-gradient(40deg, #f7c437, #f88e02ec);
    /* padding: 5px; */
} 
.about_me h1{
    font-size: 50px;
    margin: 10px 0 10px 20px;
}
#education, th, td{
    border: 1px solid #ae5d0b;
    padding: 7px;
    margin: auto;
    font-size: 20px;
} 

.form{
    width: 100%;
    height: 500px;
    background: linear-gradient(40deg, #f7c437, #f88e02ec);
    /* background-image: url(../images/msg1.png); */
    position: relative;
}
.contactform{
    position: absolute;
    /* background: #ae5d0b; */
    top: 15%;
    right: 20%;
    width: 60%;
    text-align: center;
    padding: 20px;
}
.text{
    width: 60%;
    font-size: 18px;
    border: 1px solid #ae5d0b; 
    border-radius: 10px;
    padding: 5px;
    background: #fbd260;
}
.text:focus{
    outline: none;
    background: #e4be98; 
}
.msg1{
    position: absolute;
    top: 5%;
    right: 15%;
    transform: rotate(20deg);
}
.msg2{
    width: 380px;
    position: absolute;
    top: 10%;
    left: 4%;
}

#divProjects{
    width: 100%;
    height: 500px;
    padding: 20px;
    background: linear-gradient(40deg, #f7c437, #f88e02ec);
}
.project{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.toGitHub{
    color: #ad5c0b;
    font-size: 40px;
    text-decoration: none;
}
.toGitHub:hover{
    color: #ad5c0b;
    text-decoration: none;
    font-size: 50px;
    text-shadow: #f7e9af 1px 0 10px;
}
.imgProject{
    width: 350px;
}
.imgProject:hover{
    width: 470px;
    box-shadow: #f7e9af 0px 10px 50px;
}